In [ ]:
Employee {'ID Number':001,	Name :'Mary',	Pay Rate:$15.00	,	Hours Worked:40}
         {'ID Number':002,	Name :'John',	Pay Rate:$22.00	,	Hours Worked:25}
		 {'ID Number':003,	Name :'Bob',	Pay Rate:$35.00	,	Hours Worked:4}
		 {'ID Number':004,	Name :'Bob',	Pay Rate:$35.00	,	Hours Worked:4}
		 {'ID Number':005,	Name :'Bob',	Pay Rate:$35.00	,	Hours Worked:4}
		 {'ID Number':006,	Name :'Bob',	Pay Rate:$35.00	,	Hours Worked:4}
		 {'ID Number':007,	Name :'Bob',	Pay Rate:$35.00	,	Hours Worked:4}
		 {'ID Number':008,	Name :'Bob',	Pay Rate:$35.00	,	Hours Worked:4}
		 {'ID Number':009,	Name :'Beth',	Pay Rate:$37.00,	Hours Worked:37}
		 {'ID Number':010,	Name :'Ray',	Pay Rate:$16.50	,	Hours Worked:80}
004	Mel	$43.00	62
005	Jen	$17.00	33
006	Sue	$29.00	45
007	Ken	$40.00	36
008	Dave	$20.00	17
009	Beth	$37.00	37
010	Ray	$16.50	80)




#calculates the salary for the week of the employees 
Find ID Number
Find Pay Rate
Find Hours Worked
If "Hours Worked">=40
             Set 'Salary' = 'Pay Rate' * "Hours Worked"
             print ('Name')
             print ('Salary')
Else 
            Set 'Salary' = (40 * 'Pay Rate') + (1.5 * ("Hours Worked"-40) * 'Pay Rate')
             print ('Name')
             print ('Salary')
End If

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("Employee_Payroll.xlsx")
df.head()

In [ ]:
df['ID Number']

In [ ]:
df['Name']

In [ ]:
varHW=df['Hours Worked']
#varS=df['Salary']
varPR=df['Pay Rate']

In [ ]:
df['sum']=df.sum(axis=1)
ds

In [ ]:
Input employee’s name, ID#, HrWk, Payrate
If HrWk>40O
verTimeHrs = HrWk – 40
ExtraPay = OverTimeHrs*(1.5*Payrate)
Pay = (40*Payrate) + ExtraPay
Otherwise Pay = 40 * Payrate
Print out name, ID#, Pay

In [ ]:
print(varHW)

In [ ]:
for i in df.index:
    if (varHW)<=40:
        df['Salary'] =df.varPR*df.varHR(axis=1)
   # print(df['Name'])
        print(Salary)    
    else: 
        df['Salary']= (40 * df.varPR) + (1.5 * (df.varHW-40) * df.varPR)
   # print(df['Name'])
        print(Salary)

In [ ]:
"s"+str(5)

In [ ]:
import this

In [ ]:
Cars=['ade','bolg','cas','toy']

In [ ]:
for Car in Cars:
    if Car=='bolg':
        print(Car.upper())
    else:
        print(Car.title())